---
layout: layouts/base-full-width.njk
section: paintings
permalink: /paintings/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set paintingslist = collections.paintings %}
{% include "components/paintingslist.njk" %}
