---
layout: layouts/base.njk
section: news
---

<article>
  <h1>{{ title }}</h1>
  <p class="small-print">
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a>
  </p>

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/news/' | url }}">← News index</a>
</nav>
